
<div class="top-buffer">
    <form name="qaReplyForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    답변
                </h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div style="margin-left: 5px; margin-bottom: 10px;">
                        <div class="avatar avatar-medium clearfix ">
                            <div class="user-profile-sm">
                                <!-- 세션에서 userNick 가져와야함 -->
                                <span class="nickname">sjune</span>
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                            </div>
                        </div>
                    </div>
                    <!-- 댓글작성 Bootstrap Live Editor -->
                    <div class="row" style="margin-left: 5px; margin-bottom: 10px; width: 90%">
                        <input type="text" class="form-control" id="title" name="title" placeholder="title">
                    </div>
                    <div id="editor" class="form-group">
                        <input type="hidden" id="contents" name="contents" />
                        <input type="hidden" id="contentsMarkup" name="contentsMarkup" />
                        <input type="hidden" id="depthIdx" name="depthIdx" value="1" />   <!-- 답변 계층 -->
                        <input type="hidden" id="parentsId" name="parentsId" value="0" />   <!-- 답변 계층 -->
                    </div>
                    <!--// 댓글작성 Bootstrap Live Editor -->

                    <!-- 댓글작성 저장 button -->
                    <div class="feed-write-bottom text-right">
                        <button id="saveReplyButton" type="button" class="btn btn-primary btn-default">저장</button>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
{{#each data}}
    <div class="bg-info qna-reply-title"><span class="qna-reply-title">{{qaReply.title}}</span></div>
    <div class="feed well">
        <ul>
            <li class="thread" data-qa-reply-id="{{qaReply.replyId}}">
                <div class="author">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </div>
                <div class="name">{{qaReply.userNick}}</div>
                <div class="date">{{qaReply.insertDate}}</div>
                <div class="config"><i class="fa fa-check popover-config" data-container="body" data-toggle="popover" data-placement="right"></i></div>

                <div class="thread-message-box">
                    <div class="message">
                        {{{qaReply.contents}}}
                    </div>
                    <div class="action-buttons qna-reply">
                        <i class="fa fa-thumbs-o-up {{#xif selfRecommend '==' true}}fa-2x{{/xif}}" data-qa-vote-type="UP"><span class="like-count">({{qaReply.voteUpCount}})</span></i>
                        <i class="fa fa-thumbs-o-down {{#xif selfNonrecommend '==' true}}fa-2x{{/xif}}" data-qa-vote-type="DOWN"><span class="claim-count">({{qaReply.voteDownCount}})</span></i>
                    </div>
                </div>

                <ul>
                    {{#each qaReplies}}
                        <li class="thread" data-qa-reply-id="{{qaReply.replyId}}">
                            <div class="author">
                                <div class="user-profile-sm">
                                    <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                                </div>
                            </div>
                            <div class="name">{{qaReply.userNick}}</div>
                            <div class="date">{{qaReply.insertDate}}</div>
                            <div class="config"><i class="fa fa-close qaReplyDeleteBtn" data-qa-reply-id="{{qaReply.replyId}}"></i></div>
                            <div class="message-box">
                                <div class="message">{{qaReply.contents}}</div>
                                <div class="action-buttons qna-reply">
                                    <i class="fa fa-thumbs-o-up {{#xif selfRecommend '==' true}}fa-2x{{/xif}}" data-qa-vote-type="UP"><span class="like-count">({{qaReply.voteUpCount}})</span></i>
                                    <i class="fa fa-thumbs-o-down {{#xif selfNonrecommend '==' true}}fa-2x{{/xif}}" data-qa-vote-type="DOWN"><span class="claim-count">({{qaReply.voteDownCount}})</span></i>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>

                <ul>
                    <li>
                        <div class="row">
                            <form name="qaChildReplyForm" onsubmit="return false;">
                                <input type="hidden" name="qaId" value="{{qaReply.qaId}}" />
                                <input type="hidden" id="title" name="title" value="RE:{{qaReply.title}}" />   <!-- 답변 계층 -->
                                <input type="hidden" id="orderIdx" name="orderIdx" value="{{qaReply.orderIdx}}" />   <!-- 답변 계층 -->
                                <input type="hidden" id="depthIdx" name="depthIdx" value="{{qaReply.depthIdx}}" />   <!-- 답변 계층 -->
                                <input type="hidden" id="parentsId" name="parentsId" value="{{qaReply.replyId}}" />   <!-- 답변 계층 -->

                                <div class="col-xs-9 col-md-10">
                                    <input type="text" name="contents" class="form-control input-sm" placeholder="댓글 입력">
                                </div>
                                <div class="col-xs-3 col-md-2 feed-comment">
                                    <button class="btn btn-sm btn-info" name="saveChildReplyButton" type="button">저장</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{{/each}}

<script type="text/javascript">
    $(function(){
        $('.popover-config').popover({
            trigger: 'click',
            html: true,
            content: function () {
                return $('#popover-config-content').html();
            }
        });

        var QaReply = {
            init: function(){
                this.bindDelete();
                Qa.makeEditor();
                Qa.saveReplyEvent();
                Qa.saveVoteEvent();
            },
            bindDelete: function() {
                $('.qaReplyDeleteBtn').click(function () {
                    Qa.qaReplyDelete($(this).closest('.thread').attr('data-qa-reply-id'));
                });
            }
        };

        QaReply.init();
    });
</script>