{{# partial "title" }}Search Result{{/partial}}

{{# partial "content" }}
    <div class="container-fluid">

        <div class="col-sm-12">
            {{#compareTo pageKey 'qa'}} {{> search/form/qa}} {{/compareTo}}
            {{#compareTo pageKey 'space'}} {{> search/form/space}} {{/compareTo}}
            {{#compareTo pageKey 'wiki'}} {{> search/form/wiki}} {{/compareTo}}
        </div>

        <div class="col-sm-12">
            <div class="search-result top-buffer">
                <div class="nav-tabs-header">검색 결과 (총 {{totalCount}}건)</div>

                {{#unless results}}
                    <div class="not-found">
                        <h3>검색 결과가 존재하지 않습니다.</h3>
                    </div>
                {{/unless}}

                {{#each results}}
                    <div class="search-result-item">
                        <a href="/qa/{{id}}"><strong>{{title}}</strong></a>
                        <div class="pull-right">
                            {{#each keywords}}
                                {{{keywordBadge this}}}
                            {{/each}}
                        </div>
                        <div class="media">
                            <span class="pull-left">
                                <div class="user-profile">
                                    <img alt="avatar" class="profile-image" src="/imageView?path={{userImage}}" onerror='this.src="/resource/images/avatar.png"' />
                                </div>
                            </span>
                            <div class="media-body">
                                {{{abbreviate (htmlDelete contents) 500}}}
                                <div class="pull-right"><span class="badge">{{countOfReply}}</span></div>
                            </div>
                            <div class="pull-left"><span class="nickname"><i class="fa fa-pencil-square-o"></i> {{userNick}}</span></div>
                            <div class="pull-right"><i class="fa fa-clock-o"></i> {{insertDate}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/partial}}

{{# partial "script-page" }}

{{/partial}}

{{> template/base}}