{{#if spaceMainList}}
    {{#each spaceMainList}}
    <div class="best-qna-item">
        <div>
            <strong><a href="/space/{{space.spaceId}}">{{space.title}}</a></strong>
            <div class="pull-right">
                <!--
                <span class="label label-default">default</span>
                <span class="label label-primary">primary</span>
                <span class="label label-success">success</span>
                <span class="label label-info">info</span>
                <span class="label label-warning">warning</span>
                <span class="label label-danger">danger</span>
                <span class="label label-tag">Tag</span>
                <span class="label label-focus">focus</span>
                -->
                {{#each keywords}}
                    <span class="label label-default">{{length keywordName}}</span>
                    <span class="label label-default">{{keywordName}}</span>
                {{/each}}

            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <div class="user-profile">
                    <img alt="avatar" class="profile-image" src="{{space.titleImagePath}}/{{space.titleImage}}" />
                </div>
            </a>
            <div class="media-body">{{subString (htmlDelete space.description) 0 100 }}
                <div class="pull-right"><span class="badge">
                    {{wikiCount}}
                </span></div>
            </div>
            <div class="pull-left"><span class="nickname">공간오너 : {{space.insertUserNick}}</span></div>
            <div class="pull-right">{{space.insertDate}}</div>
        </div>
    </div>
    {{/each}}
{{^}}

    <div class="best-qna-item">
        생성된 공간이 없습니다.
    </div>

{{/if}}
