{{#each spaceMainList}}
<div class="best-qna-item" id="spaceItems">
    <input type="hidden" name="spaceItemId" value="{{spaceId}}" />
    <div>
        <strong><a href="/space/{{spaceId}}">{{title}}</a></strong>
        <div class="pull-right">
            {{#each keywords}}
                {{#keywordBadge keywordName}}{{/keywordBadge}}
            {{/each}}
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <div class="user-profile">
                <img alt="avatar" class="profile-image" src="/imageView?path={{titleImagePath}}/{{titleImage}}" onerror='this.src="/resource/images/howling_space.png"'/>
            </div>
        </a>
        <div class="media-body">{{subString (htmlDelete description) 0 100 }}
            <div class="pull-right"><span class="badge">
                {{wikiCount}}
            </span></div>
        </div>
        <div class="pull-left"><span class="nickname"><i class="fa fa-pencil-square-o"></i> {{insertUserNick}}</span></div>
        <div class="pull-right"><i class="fa fa-clock-o"></i> {{updateDate}} </div>
    </div>
</div>
{{/each}}

{{#unless spaceMainList}}
    <div class="best-qna-item">
        생성된 공간이 없습니다.
    </div>
{{/unless}}

