{{#if myFavoriteSpaceList}}
    {{#each myFavoriteSpaceList}}
    <div class="best-qna-item">
        <div>
            {{> common/_keywordBadge}}
            <strong> {{space.title}}</strong>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <div class="user-profile">
                    <img alt="avatar" class="profile-image" src="{{space.titleImagePath}}/{{space.titleImage}}" />
                </div>
            </a>
            <div class="media-body">
                {{subString (htmlDelete space.description) 0 100 }}
                <div class="pull-right"><span class="badge">{{wikiCount}}</span></div>
            </div>
            <div class="user-profile-sm">

            </div>
            <div class="pull-right">{{space.insertDate}}</div>
        </div>
    </div>
    {{/each}}
{{^}}
    <div class="best-qna-item">
        즐겨찾기 공간이 없습니다.
    </div>
{{/if}}