<!-- 최근 위키  -->
{{#if spaceWikiLists}}
    {{#each spaceWikiLists}}

    <div class="best-qna-item">
        <div>
            <strong> <a class="form" href="/wiki/{{wiki.wikiId}}">{{wiki.title}}</a></strong>
            <br>{{> common/_keywordBadge}}
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <div class="user-profile">
                    <img alt="avatar" class="profile-image" src="{{user.userImage}}" onerror='this.src="/resource/images/avatar.png"' />
                </div>
            </a>
            <div class="media-body">
                {{subString (htmlDelete wiki.contents) 0 78 }}
                <!-- TODO 위키 리플갯수  추후 구해와야 함
                <div class="pull-right"><span class="badge">{{replyCount}}</span></div>
                -->
            </div>
            <div class="user-profile-sm">
                <span class="nickname">작성자 : {{wiki.userNick}}</span>
            </div>
            <div class="pull-right">{{formatDate wiki.insertDate "yyyy-MM-dd hh:MM"}}</div>
        </div>
    </div>
    {{/each}}

    <div class="pull-right" style="padding-top:10px"><button class="btn btn-sm btn-default btn-sm-fixed">더보기</button></div>
{{^}}
    <div class="best-qna-item">
        최근에 작성된 위키가 없습니다.
    </div>
{{/if}}