{{#each spaceMainList}}
<div class="my-qna-item">
    <a class="pull-left col-xs-1 col-sm-1 col-md-1 col-lg-1" href="#">
        <div class="user-profile">
            <img alt="avatar" class="profile-image" src="/imageView?path={{titleImagePath}}/{{titleImage}}" onerror='this.src="/resource/images/howling_space.png"'>
        </div>
    </a>
    <div class="row">
        <div>
            <div class="media-body">
                <div class="media-heading">
                    <span>{{updateDate}}</span>
                        <span class="my-qna-writer">
                            <div class="user-profile-xs">
                                <span class="nickname">{{insertUserNick}}</span>
                                <img alt="avatar" class="profile-image" src="/imageView?path={{user.userImage}}" onerror='this.src="/resource/images/avatar.png"'>
                            </div>
                        </span>
                    <div class="pull-right">
                        {{> common/_keywordBadge}}
                    </div>
                    <div class="qna-title">
                        <span>{{title}}</span>
                    </div>
                    <div>
                        {{subString (htmlDelete description) 0 170 }}
                        <span class="badge">{{wikiCount}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}

