{{#if spaceWikiLists}}
    {{#each spaceWikiLists}}
        <div class="media">
            <div class="media-body">
                <table style="width:100%">
                    <tr>
                        <td style="width: 60px" class="text-left">
                            <a href="#">
                                <div class="user-profile-md">
                                    <img alt="avatar" class="profile-image" src="/imageView?path={{user.userImage}}" onerror='this.src="/resource/images/avatar.png"' />
                                </div>
                            </a>
                        </td>
                        <td>
                            <div class="text-left"><a href="/wiki/{{wiki.wikiId}}">{{wiki.title}}</a></div>
                            <div class="text-left">
                                <a href="/wiki/{{wiki.wikiId}}" class="text">{{subString (htmlDelete wiki.contents) 0 240 }}</a>
                                <span class="badge">{{replyCount}}</span>
                            </div>
                        </td>
                        <td style="width: 160px">
                            <div class="text-left" >
                                <span class="pull-right" style="font-size:13px">{{formatDate wiki.updateDate "yyyy-MM-dd hh:MM:ss"}}</span>
                            </div>
                            <p class="pull-right" style="font-size:13px">{{wiki.userNick}}</p>

                        </td>
                    </tr>
                </table>
            </div>

        </div>
    {{/each}}

    <small><cite title="Source Title" id="getMoreWiki" style="cursor:pointer">더보기</cite></small>
{{^}}
    <div class="media">
        <div class="media-body">
            생성된 위키가 없습니다.
        </div>
    </div>
{{/if}}