{{#each allWiki}}
    <div class="media qna-item">
        <a class="pull-left" style="cursor: pointer">
            <div class="user-profile">
                <img src="{{user.userImage}}" class="profile-image" alt="avatar" onerror='this.src="/resource/images/avatar.png"'>
            </div>
        </a>
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9">
                <div class="media-body">
                    <div class="media-heading">
                        <strong> <a class="form" href="/wiki/{{wiki.wikiId}}">{{wiki.title}}</a></strong>
                        <span class="my-qna-writer pull-right">
                            <div class="user-profile-xs">
                                <span class="nickname"><i class="fa fa-pencil-square-o"></i> {{user.userNick}}</span>
                            </div>
                        </span>
                        <br>{{> common/_keywordBadge}}
                    </div>
                    <div>
                        {{{subString (htmlDelete wiki.contents) 0 80 }}}
                        <span class="pull-right"><i class="fa fa-clock-o"></i> {{formatDate wiki.insertDate "yyyy.MM.dd HH:mm"}}</span>
                    </div>
                </div>
            </div>
            <div class="my-qna-rating">
                <button class="btn btn-sm btn-default btn-sm-fixed">댓글 {{wiki.replyCount }}</button>
                <button class="btn btn-sm btn-default btn-sm-fixed">추천 {{wiki.likeCount }}</button>
            </div>
        </div>
    </div>
{{/each}}
<div class="top-buffer">&nbsp;</div>