{{#each data}}
    <div class="media qna-item" value="{{qaContent.qaId}}" onclick="location.href='/qa/{{qaContent.qaId}}';">
        <a class="pull-left" href="#">
            <div class="user-profile">
                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
            </div>
        </a>
        <div class="row">
            <div class="qna-main-top col-xs-8 col-sm-8 col-md-7 col-lg-8">
                <div class="media-body">
                    <div class="media-heading">
                        <span>{{qaContent.insertDate}}</span>
                        <div class="pull-right">
                            {{#each keywords}}
                                <span class="label label-primary">{{keywordName}}</span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="qna-title">
                        <span>{{qaContent.title}}</span>
                    </div>
                    {{{qaContent.contents}}}
                    <span class="badge">1927</span>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 my-qna-rating">
                <button class="btn btn-sm btn-default btn-sm-fixed">조회 {{qaContent.viewCount}}</button>
                <button class="btn btn-sm btn-default btn-sm-fixed">추천 {{qaContent.recommandCount}}</button>
            </div>
        </div>
    </div>
{{/each}}
