<!--
  Created by IntelliJ IDEA.
  User: yong
  Date: 2014. 9. 22.
  Time: 오후 10:57
-->

{{# partial "content" }}

<!-- contents -->
<div class="container-fluid">
    <div class="col-sm-12">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input name="searchName" type="text" class="form-control" placeholder="Search">
            </div>
            <a href="#" id="searchBtn" class="form-control btn btn-primary">Q&A 검색</a>
        </form>
        <div class="btn-group pull-right">
            <a href="/qa/total/list" class="btn btn-primary">총 질문({{qaTotalCount}})</a>
            <a href="/qa/wait_reply/list" class="btn btn-primary">답변을 기다리는 Q&A({{qaNotReplyedCount}})</a>
            <!--<a href="/qa/list?QaSearchType=total" class="btn btn-primary">총 질문({{qaTotalCount}})</a>-->
            <!--<a href="/qa/list?QaSearchType=waitReply" class="btn btn-primary">답변을 기다리는 Q&A({{qaNotReplyedCount}})</a>-->
            {{#if isLogin}}
            <a href="/my/qa" class="btn btn-primary">내 QA 목록</a>
            <a href="/qa/form" class="btn btn-primary">질문하기</a>
            {{/if}}
        </div>
    </div>

    <div class="col-sm-12 top-buffer">
        <!-- keyword -->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="nav-tabs-header">분류키워드</div>
            <!-- 분류키워드 list start -->
            <div id="categorizeKeywordListArea"></div>
            <!-- 분류키워드 list end -->
        </div>
        <!--// lnb -->

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <!-- 최근 Q&A -->
            <div class="nav-tabs-header">최근 Q&A
                <span class="pull-right section-category">
                    <ul id="recentQaDayTypeUl" class="nav nav-tabs">
                        <li value="WEEK" data="defalut"><a href="#">Week</a></li>
                        <li value=""><a href="#">Today</a></li>
                    </ul>
                </span>
            </div>
            <!-- 최근 Q&A list start -->
            <div id="recentQaListArea">
                {{> qa/template/_recentList}}
            </div>
            <!-- 최근 Q&A list end -->
            <!--// 최근 Q&A -->

            <div class="top-buffer">&nbsp;</div>
            <!-- 답변을 기다리는 Q&A -->
            <div class="nav-tabs-header">답변을 기다리는 Q&A
                <span class="pull-right section-category">
                    <ul id="waitReplyQaDayTypeUl" class="nav nav-tabs">
                        <li value="ALL" data="defalut"><a href="#">All</a></li>
                        <li value="WEEK"><a href="#">Week</a></li>
                        <li value=""><a href="#">Today</a></li>
                    </ul>
                </span>
            </div>

            <!-- 답변을 기다리는 Q&A list start -->
            <div id="waitReplyQaListArea">
                {{> qa/template/_waitReplyList}}
            </div>
            <!-- 답변을 기다리는 Q&A list end -->

            <!--// 답변을 기다리는 Q&A -->
        </div>

        <div class="col-md-4">
            <!-- BEST Q&A -->
            <div class="nav-tabs-header">BEST Q&A</div>
            {{> qa/template/_qaBest}}
            <!--// BEST Q&A -->
        </div>
    </div>
</div>

{{/partial}}

{{#partial "script-page"}}
{{embedded "common/_keywordList"}}
{{embedded "qa/template/_mainList"}}
    <script type="text/javascript">
        $(document).ready(function(){
            Qa.init();
        });

        var Qa = {
            init : function(){
                this.renderKeywordList();
                //this.renderRecentQaList('WEEK');
                //this.renderWaitReplyQaList('ALL');
                this.renderDayType($('#recentQaDayTypeUl'));
                this.renderDayType($('#waitReplyQaDayTypeUl'));
                this.bindDayTypeEvent();
                this.bindSearch();
            },
            renderKeywordList : function(){
                $.ajax({
                    url: "/common/findKeywordList",
                    type: "POST",
                    data: { keywordType : 'QA', keywordName : Qa.selectedKeywordName() },
                    success : function(data){
                        if(data.resultCode == 1) {
                            var source = $('#common-_keywordList-hbs').html();
                            var template = Handlebars.compile(source);

                            var html = template(data);
                            $('#categorizeKeywordListArea').html(html);
                            Qa.bindKeywordListEvent();
                        }
                    },
                    error : function(req){
                        // Handle upload error
                        alert('req : ' + req);
                        console.log('req : ' + req.status);
                        console.log('req : ' + req.readyState);

                        alert('에러가 발생하였습니다. 에러코드 [' + req.status + ']');
                    }
                });
            },
            renderRecentQaList : function(dayType){
                $.ajax({
                    url: "/qa/qaList",
                    type: "POST",
                    data: { keywordType : 'QA', keywordName : Qa.selectedKeywordName(), dayType : dayType },
                    success : function(data){
                        if(data.resultCode == 1) {
                            var source = $('#qa-template-_mainList-hbs').html();
                            var template = Handlebars.compile(source);

                            var html = template(data);
                            $('#recentQaListArea').html(html);
                        }
                    },
                    error : function(req){
                        // Handle upload error
                        alert('req : ' + req);
                        console.log('req : ' + req.status);
                        console.log('req : ' + req.readyState);

                        alert('에러가 발생하였습니다. 에러코드 [' + req.status + ']');
                    }
                });
            },
            renderWaitReplyQaList : function(dayType){
                $.ajax({
                    url: "/qa/qaList",
                    type: "POST",
                    data : {keywordType : 'QA', keywordName : Qa.selectedKeywordName(), waitReply : 'Y', dayType : dayType},
                    success : function(data){
                        if(data.resultCode == 1) {
                            var source = $('#qa-template-_mainList-hbs').html();
                            var template = Handlebars.compile(source);

                            var html = template(data);
                            $('#waitReplyQaListArea').html(html);
                        }
                    },
                    error : function(req){
                        // Handle upload error
                        alert('req : ' + req);
                        console.log('req : ' + req.status);
                        console.log('req : ' + req.readyState);

                        alert('에러가 발생하였습니다. 에러코드 [' + req.status + ']');
                    }
                });
            },
            selectedKeywordName : function(){
                var keywordName = $('#categorizeKeywordListArea').find('li.active').attr('data-keywordList-name');
                return keywordName;
            },
            bindKeywordListEvent : function(){
                $('#categorizeKeywordListArea').find('li').click(function(){
                    KeywordList.findKeywordList(this);
                });
            },
            bindDayTypeEvent : function(){
                $('#recentQaDayTypeUl > li').click(function(){
                    Qa.changeDayType(this);
                    Qa.renderRecentQaList(this.getAttribute('value'));
                });
                $('#waitReplyQaDayTypeUl > li').click(function(){
                    Qa.changeDayType(this);
                    Qa.renderWaitReplyQaList(this.getAttribute('value'));
                });
            },
            changeDayType : function(dayTypeObj){
                var ulObj = $(dayTypeObj).parent();
                var dayTypeValue = dayTypeObj.getAttribute('value');
                ulObj.find('li').removeClass('active');
                ulObj.find('li[value="'+dayTypeValue+'"]').addClass('active');
            },
            renderDayType : function(targetObj){
                targetObj.find('li').removeClass('active');
                targetObj.find('li[data="defalut"]').addClass('active');
            },
            bindSearch : function(){
                $('#searchBtn').click(function(){
                    Qa.search();
                });
                $('[name=searchName]').keydown(function(e){
                    if(e.which == 13) {
                        Qa.search();
                    }
                });
            },
            search : function(){
                var searchName = $('[name=searchName]').val();
                if(searchName == ''){
                    alert("검색어를 입력하세요");
                    return false;
                } else {
                    location.href = '/qa/search/' + searchName;
                }
            }
        };

        var KeywordList = {
            findKeywordList : function(keywordListObj){
                var ulObj = $(keywordListObj).parent();
                ulObj.find('li').removeClass('active');
                var keywordListValue = keywordListObj.getAttribute('data-keywordList-name');
                if(keywordListValue == ''){
                    ulObj.find('li[data-keywordList-name=""]').addClass('active');
                } else {
                    ulObj.find('li[data-keywordList-name=' + keywordListValue + ']').addClass('active');
                }
                // keyword 해당되는 질문 전체 목록 List up
                // 화면 분할? 같이? 고민
                Qa.renderDayType($('#recentQaDayTypeUl'));
                Qa.renderDayType($('#waitReplyQaDayTypeUl'));
                Qa.renderRecentQaList("WEEK");
                Qa.renderWaitReplyQaList("ALL");
            }
        }
    </script>
{{/partial}}

{{> template/base}}
