<!--
  Created by IntelliJ IDEA.
  User: yong
  Date: 2014. 9. 22.
  Time: 오후 10:57
-->
{{#partial "script-header"}}
    <script src="/resource/app/js/DualEditor/DualEditor-core.js"></script>
{{/partial}}

{{# partial "content" }}
    <!-- 메뉴 -->
    <div class="container contents-container">
        <form id="qaForm">
        <!-- contents -->
        <div class="col-md-12">
            <!-- 관련키워드 -->
            <div class="row top-buffer">
                <span class="col-md-12 pull-left section-category qna-alert-info">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">관련 키워드</a></li>
                        <li class="pull-left readCnt">
                            {{#each keywordList}}
                                <span class="label label-primary">{{keywordName}}</span>
                            {{/each}}
                        </li>
                        <li class="pull-right">
                            <div class="user-profile-sm">
                                <span class="nickname">sjune</span>
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                            </div>
                        </li>
                    </ul>
                </span>
            </div>
            <!--// 관련키워드 -->
            <div class="media form-group top-buffer">
                <!-- 본문 제목, 내용 -->
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="qna-alert-title">{{qaContent.title}}</span>
                            <span class="badge">{{qaReplyCnt}}</span>
                        </div>
                        <div class="col-md-4 text-right">
                            <span class="qna-alert-title">{{qaContent.insertDate}}</span>
                            <span class="readCnt qna-alert-title">조회수 : {{qaContent.viewCount}}</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p>
                            {{{qaContent.contents}}}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div id="uploadFilesArea">
                        <span class="glyphicon glyphicon-paperclip btn-m"></span>
                        <span>Attachments</span>
                        <div id="uploadfileList" class="alert alert-success attachment-thumbnail">
                        </div>
                    </div>
                    <input name="uploadType" value="Qa" type="hidden">
                    <input name="uploadFilePath" id="uploadFilePath" type="hidden">
                    <input id="file-attachment" name="uploadfile" type="file" style="display:none">
                    <p class="help-block"></p>
                </div>
                <input type="hidden" name="qaId" value="{{qaContent.qaId}}">
                <input type="hidden" name="wikiId">
            </div>
            <!--// 본문 제목, 내용 -->
            <div>
                <div class="text-left">
                    <i class="fa fa-thumbs-o-up"><span class="like-count">({{qaContent.recommandCount}})</span></i>
                    <i class="fa fa-share-alt"><span class="claim-count">(0)</span></i>
                </div>
                <div class="text-right">
                    <button id="editButton" type="button" class="btn btn-primary btn-sm">수정</button>
                    <button id="deleteButton" type="button" class="btn btn-danger btn-sm">삭제</button>
                    <button id="listButton" type="button" class="btn btn-primary btn-sm">목록</button>
                </div>
            </div>

            <!-- 댓글 list -->
            <div class="top-buffer">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            답변 {{qaReplyCnt}}
                        </h3>
                    </div>
                    <ul class="list-group">
                        {{#each qaReplyList}}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="qna-main-top col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <div class="media-body">
                                            <div style="margin-left: 5px; margin-bottom: 10px;">
                                                <div class="avatar avatar-medium clearfix ">
                                                    <div class="user-profile-sm">
                                                        <span class="nickname">sjune</span>
                                                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                                                    </div>
                                                </div>
                                            </div>
                                            {{title}}
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 my-qna-rating">
                                        <ul class="qna-reply">
                                            <li class="fa fa-thumbs-o-up fa-2x"><span class="like-count">({{voteUpCount}})</span></li>
                                            <li class="fa fa-thumbs-o-down fa-2x"><span class="claim-count">({{voteDownCount}})</span></li>
                                            {{#if isChoice}}
                                                <li class="fa fa-check fa-2x"></li>
                                            {{/if}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                        <li class="list-group-item">
                            <div style="margin-left: 5px; margin-bottom: 10px;">
                                <div class="avatar avatar-medium clearfix ">
                                    <div class="user-profile-sm">
                                        <span class="nickname">sjune</span>
                                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                                    </div>
                                </div>
                            </div>
                            <!-- 댓글작성 Bootstrap Live Editor -->
                            <div id="editor" class="form-group">
                                <input type="hidden" id="contents" name="contents" />
                                <input type="hidden" id="contentsMarkup" name="contentsMarkup" />
                                <input type="hidden" id="orderIdx" name="orderIdx" value="1" />   <!-- 답변 계층 -->
                                <input type="hidden" id="depthIdx" name="depthIdx" value="1" />   <!-- 답변 계층 -->
                                <input type="hidden" id="parentsId" name="parentsId" value="3" />   <!-- 답변 계층 -->
                                <input type="hidden" id="parentsId" name="title" value="답변에 title?" />   <!-- 답변 계층 -->
                            </div>
                            <!--// 댓글작성 Bootstrap Live Editor -->
                        </li>
                    </ul>
                </div>
            </div>
            <!--// 댓글 list -->

            <div class="text-center">
                <button id="saveReplyButton" type="button" class="btn btn-primary btn-default">저장</button>
            </div>

        </div>
        </form>
    </div>

{{/partial}}

{{#partial "script-page"}}
{{embedded "qa/fileList"}}
    <script type="text/javascript">
        $(document).ready(function(){
            Qa.makeEditor();
            Qa.bindEvent();
            Qa.makeFileList();
        });

        function setParam(){
            $('#contents').val(DualEditor.getMarkupConvertToHtml());
            $('#contentsMarkup').val(DualEditor.getMarkupEditHtml());
        }

        var Qa = {
            makeEditor : function(){
                DualEditor.setting({
                    src : '/resource/app'
                    , tarketId : 'editor'
                    , type : 'mini'
                    , width : '100%'
                    , height : '400px;'
                });
            },
            buttonEvent : function(){
                var that = this;
                $('#editButton').on("click", function(){
                    location.href = "/qa/edit/" + data.data.qaId;
                });
                $('#deleteButton').on("click",function(){
                    ConfirmDialog.deleteConfirm();
                });
                $('#listButton').on("click", function(){
                    location.href = "/qa/main";
                });
            },
            bindEvent : function(){
                this.formEvent();
                this.buttonEvent();
            },
            formEvent : function(){
                $("#cancelButton").on("click", this.cancelContents);
                $("#saveReplyButton").on("click", this.saveReply);
            },
            cancelContents : function(){
                location.href = '/qa/main';
            },
            makeFileList : function(){
                var that = this;
                $.get("/qa/fileList",{qaId : $('[name=qaId]').val()}, function (response) {
                    if(response.resultCode != 1) {
                        alert(response.comment);
                        return;
                    }
                    var source = $('#qa-fileList-hbs').html();
                    var template = Handlebars.compile(source);

                    var html = template(response);
                    $('#uploadfileList').html(html);
                    that.unbindDeleteEventFileList();
                });
            },
            saveReply : function(){
                setParam();
                $.ajax({
                    type : 'POST',
                    data : $('#qaForm').serialize(),
                    url : '/qa/saveReply',
                    success : function(data){
                        if(data.resultCode == 1) {
                            location.href = "/qa/" + data.data.qaId;
                        }
                    },
                    error : function(XMLHttpRequest,textStatus,errorThrown){
                        alert(errorThrown);
                    }
                });
            },
            unbindDeleteEventFileList : function(){
                $('.fileDiv').find('[href=#fileDiv]').remove();
            },
            deleteContents : function(){
                $.ajax({
                    type : 'POST',
                    data : {qaId : $('[name=qaId]').val()},
                    url : '/qa/delete',
                    success : function(data){
                        if(data.resultCode == 1) {
                            ConfirmDialog.successConfirm();
                        }
                    },
                    error : function(XMLHttpRequest,textStatus,errorThrown){
                        alert(errorThrown);
                    }
                });
            },
            unbindDeleteEventFileList : function(){
                $('.fileDiv').find('[href=#fileDiv]').remove();
            }
        }

        var ConfirmDialog = {
            deleteConfirm : function(){
                $.confirm({
                    title: '확인',
                    content: '질문을 삭제하시겠습니까?',
                    confirmButton: '질문삭제',
                    cancelButton: '취소',
                    confirmButtonClass: 'btn-info',
                    confirm: function () {
                        Qa.deleteContents();
                    },
                    cancel: function(){
                        return true;
                    }
                });
            },
            successConfirm : function(){
                $.confirm({
                    title: '완료',
                    content: '삭제 완료 ',
                    confirmButton: '이동',
                    cancelButton: '취소',
                    confirmButtonClass: 'btn-info',
                    icon: 'fa fa-question-circle',
                    animation: 'top',
                    confirm: function () {
                        location.href = "/qa/main";
                    }
                });
            }
        }

    </script>
{{/partial}}

{{> template/base}}