{{#each data}}
<li class="thread" data-feed-thread-id="{{feedThreadId}}">
    <div class="author">
        <div class="user-profile">
            <img alt="avatar" class="profile-image" src="{{userImage}}" />
        </div>
    </div>
    <div class="name">{{userNick}}</div>
    <div class="date">{{insertDate}}</div>
    {{#if writer}}
    <div class="config">
        <i class="fa fa-check popover-config" data-container="body" data-toggle="popover" data-placement="right"></i>
    </div>
    {{/if}}
    <div class="thread-message-box">
        <div class="message">
            <div class="feed-contents-box">{{{feedContent}}}</div>
            <div class="feed-modify well">
                <form class="feed-modify-form">
                    <input type="hidden" name="feedThreadId" value="{{feedThreadId}}" />
                    <textarea class="form-control" name="feedContent" rows="6">{{originFeedContent}}</textarea>
                    <div class="feed-modify-bottom">
                        <button class="btn btn-sm btn-info pull-right modifyBtn" type="button">수정</button>
                        <button class="btn btn-sm btn-default pull-right cancelBtn" type="button">취소</button>
                    </div>
                </form>
            </div>
            <div class="images text-center">
                {{#each images}}
                    <a href="#" data-toggle="modal" data-target=".image-viewer-{{fileId}}"><img width="190" class="img-thumbnail" src="{{fullPath}}" /></a>
                    <div class="modal fade image-viewer-{{fileId}}" tabindex="-1" role="dialog"
                         aria-labelledby="imageModalLabel-{{fileId}}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                    <h4 class="modal-title text-left" id="imageModalLabel-{{fileId}}">이미지 보기</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="img-responsive img-rounded center-block" src="{{fullPath}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="attachment">
                {{#each files}}
                    <a href="{{fullPath}}" target="_blank"><i class="fa fa-file-o"></i> {{realName}}</a>&nbsp;
                {{/each}}
            </div>
        </div>
        <div class="action-buttons">
            <i class="fa fa-thumbs-o-up {{#if likeFeedAction.hasActor}}hasActor{{/if}}" onclick="Feed.like(this)" title="좋아요">
                <span class="like-count">({{likeFeedAction.count}})</span>
            </i>
            <i class="fa fa-bullhorn {{#if claimFeedAction.hasActor}}hasActor{{/if}}" onclick="Feed.claim(this)" title="신고하기">
                <span class="claim-count">({{claimFeedAction.count}})</span>
            </i>
        </div>
    </div>

    <ul class="feed-replies">
        {{#each replies}}
        <li class="reply-thread" data-feed-reply-id="{{feedReplyId}}">
            <div class="author">
                <div class="user-profile-sm">
                    <img alt="avatar" class="profile-image" src="{{userImage}}" />
                </div>
            </div>
            <div class="name">{{userNick}}</div>
            <div class="date">{{insertDate}}</div>
            {{#if writer}}
            <div class="config" onclick="FeedReply.removeItem(this)"><i class="fa fa-close feedReplyDeleteBtn"></i></div>
            {{/if}}
            <div class="message-box">
                <div class="message">{{feedReplyContent}}</div>
                <div class="action-buttons">
                    <i class="fa fa-thumbs-o-up {{#if likeFeedAction.hasActor}}hasActor{{/if}}" onclick="FeedReply.like(this)" title="좋아요">
                        <span class="like-count">({{likeFeedAction.count}})</span>
                    </i>
                    <i class="fa fa-bullhorn {{#if claimFeedAction.hasActor}}hasActor{{/if}}" onclick="FeedReply.claim(this)" title="신고하기">
                        <span class="claim-count">({{claimFeedAction.count}})</span>
                    </i>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>

    <ul>
        <li>
            <div class="row">
                <form name="feedReplyForm" onsubmit="return false;">
                    <input type="hidden" name="feedThread.feedThreadId" value="{{feedThreadId}}" />

                    <div class="col-xs-9 col-md-10">
                        <input type="text" name="feedReplyContent" class="form-control input-sm" placeholder="댓글 입력">
                    </div>
                    <div class="col-xs-3 col-md-2 feed-comment">
                        <button class="btn btn-sm btn-info" name="saveReply" type="submit">저장</button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</li>
{{/each}}

<script type="text/javascript">
$(function(){
    FeedUtil.bindPopOver();
    FeedReply.init();
});
</script>
