{{!--
Created by IntelliJ IDEA.
User: yion
Date: 2014. 12. 7.
Time: 16:20
To change this template use File | Settings | File Templates.
--}}

{{#partial "title"}}LibQA~{{/partial}}

{{# partial "content" }}
    <!-- contents -->
<div class="container">
    <div class="col-md" >
        <div style="padding-bottom: 45px;">
            <div class="btn-group" data-toggle="buttons" style="float: right">
                <a class="btn btn-primary" id="cancelFavorite" style="display: none;"><i class="fa fa-heart-o"></i> 즐겨찾기 취소</a>
                <a class="btn btn-primary" id="addFavorite" style="display: none;"><i class="fa fa-heart"></i> 즐겨찾기 추가</a>
                <a class="btn btn-primary" id="createWiki"><i class="fa fa-pencil"></i> 위키 생성</a>
                <a href="#" class="btn btn-primary"><i class="fa fa-file-text"></i> 첨부파일 목록</a>
                <a href="/space/edit/{{space.spaceId}}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i>  공간 정보수정</a>
            </div>
        </div>
    </div>

</div>

<!--// contents -->

<form name="space" id="space">
    <input type="hidden" name="spaceId" id="spaceId" value="{{space.spaceId}}">
</form>
<!--// contents -->
<div class="container components">
    <h1 class="page-header">{{space.title}}
        <small class="pull-right">{{space.insertDate}} {{space.insertUserNick}} 생성 </small>
    </h1>

    <div class="row" style="padding-bottom: 20px">

        <div class="col-md-4">
            <img src="{{space.titleImagePath}}/{{space.titleImage}}" width="300">
        </div>

        <div class="col-md-8">
            {{space.description}}
        </div>

    </div>

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="well sidebar-nav">
                {{#if spaceWikis}}
                    {{#each spaceWikis}}
                        <a href="/wiki/{{wikiId}}">{{title}}</a><BR>
                    {{/each}}
                {{^}}
                    생성된 위키가 없습니다.
                {{/if}}
            </div><!--/.well -->
        </div><!--/span-->


        <div class="col-xs-12 col-sm-9">
            <div class="row">
                <div style="padding-left:15px">
                    <h3>최근 수정된 위키 목록</h3><hr>
                </div>
                <blockquote class="pull-right">
                    {{> space/template/_updateWikiList}}
                </blockquote>

                <hr>
                <div style="padding-left:15px">
                    <h3>최근 이 공간의 활동 내역 목록 </h3>
                    <hr>
                </div>

                <blockquote class="pull-right">
                    {{> space/template/_activityList}}
                </blockquote>

            </div><!--/row-->
        </div><!--/span-->
    </div>
</div>
{{/partial}}


{{# partial "script-page" }}
    <script type="text/javascript">
        // bind the on-change event
        $(document).ready(function() {


            $('#createWiki').on('click', function () {
                $('#space').attr({action:'/wiki/write', method:'post'}).submit();
            });
        });
    </script>
{{/partial}}

{{> template/base}}
