{{!--
Created by IntelliJ IDEA.
User: yion
Date: 2014. 12. 7.
Time: 16:20
To change this template use File | Settings | File Templates.
--}}
{{#partial "style"}}
{{!-- 여기에 사용자 css 정의 --}}
    <style type="text/css" xmlns="http://www.w3.org/1999/html">
        .row
        {
            height: 100%;
            display: table-row;
        }
        .col-md-3.no-float, .col-md-9.no-float {
            float: none; /* thanks baxabbit */
        }
        .col-md-3
        {
            display: table-cell;
            background: #eeeeee;
            width: 25%;
        }
        .col-md-9
        {
            display: table-cell;
            background: #ffffff;
            width: 75%;
        }
    </style>
{{/partial}}
{{#partial "plugin-style"}}
    <link href="/resource/public/css/layout-default-latest.css" rel="stylesheet">
{{/partial}}

{{#partial "script-header"}}
    <script src="/resource/public/js/jquery/jquery.layout-latest.js"></script>
    <script src="/resource/public/js/jquery/jquery-ui-latest.js"></script>
{{/partial}}


{{#partial "title"}}LibQA~{{/partial}}
{{# partial "content" }}
<div class="container-fluid">
    {{> space/template/_spaceTopMenu}}
</div>
<div class="container-fluid">
    <div class="row" style="padding-top:100px">&nbsp;
    </div>
    <div class="row">
        <div class="col-md-3 no-float vcenter" >
            <div class="col-sm-12" style="padding: 10px">
                <input type="hidden" name="spaceId" value="{{space.spaceId}}">
                <h4 style="border-bottom:1px solid #c3cce0;padding-bottom:5px">
                    <div id="sidetreecontrol"><a href="?#">전체 닫기</a> | <a href="?#">전체 열기</a></div>
                </h4>
                {{#if trees}}
                    {{{trees}}}
                {{^}}
                    생성된 위키기 없습니다.
                {{/if}}
                {{!--
                {{#if spaceWikis}}

                {{#each spaceWikis}}
                    <a href="/wiki/{{wikiId}}">{{title}}</a><BR>
                {{/each}}

                {{^}}
                    생성된 위키가 없습니다.
                {{/if}}
                --}}
            </div>
        </div>
        <div class="col-md-9 no-float">
            <div class="col-sm-11">
                <h1 class="page-header" style="margin-top: 0px">{{space.title}}
                    <small class="pull-right" style="padding-top:10px">{{formatDate space.insertDate "yyyy-MM-dd hh:MM"}} </small>
                </h1>
            </div>

            <div class="author pull-right">
                <div class="user-profile-md">
                    <img alt="avatar" class="profile-image" src="{{spaceUser.userImage}}" onerror='this.src="/resource/images/avatar.png"' />
                </div>
            </div>

            <div class="col-sm-12">
                <div class="jumbotron">
                    <img src="{{space.titleImagePath}}/{{space.titleImage}}" width="250">
                    <p>{{{space.description}}}</p>
                </div>

                <h3 style="border-bottom:1px solid #eee;padding-bottom:15px">최근 수정된 위키 목록</h3>
                <blockquote class="pull-right">
                    {{> space/template/_updateWikiList}}
                </blockquote>


                <h3 style="border-bottom:1px solid #eee;padding-bottom:15px">최근 이 공간의 활동 내역 목록 </h3>
                <blockquote class="pull-right">
                    {{> space/template/_activityList}}
                </blockquote>
            </div>
        </div>
    </div>
</div>
{{/partial}}


{{# partial "script-page" }}
    <link href="/resource/public/css/jquery.treeview.css" rel="stylesheet" />
    <script type="text/javascript" src="/resource/public/js/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/resource/public/js/jquery/jquery.treeview.js"></script>
    <script type="text/javascript">
        // bind the on-change event
        $(document).ready(function() {

            var userFavorite = "{{userFavorite}}";
            // https://github.com/jonmiles/bootstrap-treeview 으로 변경할 예정
            $.ajax({
                url: "/space/tree",
                type: "POST",
                data: { spaceId : $('[name=spaceId]').val() },
                success : function(response){
                    console.log("# response = " + response);
                    alert(response);
                },
                error : function(req){
                    // Handle upload error
                    alert(' 에러코드 [' + req.status + ']');
                }
            });


            $("#tree").treeview({
                collapsed: true,
                animated: "fast",
                control:"#sidetreecontrol",
                persist: "location"
            });

            console.log("## userFavorite = " + userFavorite);

            if (userFavorite == '') {
                $("#addFavorite").css("display","block");
            } else {
                $("#cancelFavorite").css("display","block");
            }

            $('#createWiki').on('click', function () {
                $('#space').attr({action:'/wiki/write', method:'post'}).submit();
            });
            $('#editSpace').on('click', function () {
                $('#space').attr({action:'/space/edit/{{space.spaceId}}', method:'get'}).submit();
            });

            $('#getMoreWiki').on('click', function () {
                alert('더 가져오기');
            });

            $('#addFavorite').on('click', function () {
                var spaceId = {{space.spaceId}};
                $.ajax({
                    url: "/space/addFavorite",
                    data: { spaceId : spaceId },
                    type: "GET",
                    success : function(data){
                        console.log("data = " + data);

                        if (data == 1) {
                            $.alert({
                                title: '확인',
                                content: '즐겨찾기 추가 완료',
                                confirmButton: 'OK',
                                confirmButtonClass: 'btn-primary',
                                icon: 'fa fa-info',
                                animation: 'zoom',
                                confirm: function () {
                                }
                            });

                            $("#addFavorite").css("display","none");
                            $("#cancelFavorite").css("display","block");
                        } else if (data == 0) {
                            $.alert({
                                title: '확인',
                                content: '사용자 정보가 존재하지 않습니다. 로그인 후 다시 시도하세요.',
                                confirmButton: 'OK',
                                confirmButtonClass: 'btn-primary',
                                icon: 'fa fa-info',
                                animation: 'zoom',
                                confirm: function () {
                                }
                            });
                        }
                    },
                    error : function(req){
                        $.alert({
                            title: '확인',
                            content: '즐겨찾기 추가가 되지 않았습니다. 다시 시도하세요.',
                            confirmButton: 'OK',
                            confirmButtonClass: 'btn-primary',
                            icon: 'fa fa-info',
                            animation: 'zoom',
                            confirm: function () {
                            }
                        });
                    }
                })
            });

            $('#cancelFavorite').on('click', function () {
                var spaceId = {{space.spaceId}};
                $.ajax({
                    url: "/space/cancelFavorite",
                    data: { spaceId : spaceId },
                    type: "GET",
                    success : function(data){
                        console.log("data = " + data);

                        if (data == 1) {
                            $.alert({
                                title: '확인',
                                content: '즐겨찾기 취소 완료',
                                confirmButton: 'OK',
                                confirmButtonClass: 'btn-primary',
                                icon: 'fa fa-info',
                                animation: 'zoom',
                                confirm: function () {
                                }
                            });

                            $("#addFavorite").css("display","block");
                            $("#cancelFavorite").css("display","none");
                        } else if (data == 0) {
                            $.alert({
                                title: '확인',
                                content: '사용자 정보가 존재하지 않거나 만료 되었습니다. 다시 로그인 하세요.',
                                confirmButton: 'OK',
                                confirmButtonClass: 'btn-primary',
                                icon: 'fa fa-info',
                                animation: 'zoom',
                                confirm: function () {
                                }
                            });
                        }
                    },
                    error : function(req){
                        $.alert({
                            title: '확인',
                            content: '즐겨찾기 취소가 되지 않았습니다. 다시 시도하세요.',
                            confirmButton: 'OK',
                            confirmButtonClass: 'btn-primary',
                            icon: 'fa fa-info',
                            animation: 'zoom',
                            confirm: function () {
                            }
                        });
                    }
                })
            });
        });


    </script>
{{/partial}}

{{> template/base}}
