{{# partial "content" }}
    <!--  메뉴  -->
    <div class="container qna-top-search">
        <div class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" data-linkval="searchText" class="form-control" placeholder="Search">
            </div>
            <span class="form-control btn btn-primary" data-link="/wiki/search" data-linktype="search">
                위키검색
            </span>
        </div>
        <div class="btn-group pull-right">
            <a class="form-control btn btn-primary" href="/wiki/write">
                위키생성
            </a>
        </div>
    </div>


    <!-- contents -->
    <!-- 메뉴 -->
    <div class="container contents-container top-buffer">
        <!-- keyword -->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

            <div class="nav-tabs-header">분류키워드</div>
            <!-- 분류키워드 list start -->

            <div id="categorizeKeywordListArea">
                <div class="media qna-item">
                    <ul class="nav nav-pills nav-stacked cat-keyword">

                    </ul>
                </div>

            </div>
            <!-- 분류키워드 list end -->
        </div>
        <!--// lnb -->

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <!-- 전체 공간 -->
            <div class="nav-tabs-header">{{listTitle}}</div>

            {{#each listWiki}}
            <div class="best-qna-item">
                <div>
                    <strong><a href="/">{{wiki.title}}</a></strong>
                    <div class="pull-right">
                        {{#each wiki.keywordList}}
                            <span class="label label-primary">{{wiki.keywordName}}</span>
                        {{/each}}
                    </div>
                </div>
                <div class="media">
                    <a class="pull-left" href="#">
                        <div class="user-profile">
                            <img src="/resource/images/avatar.png" class="profile-image" alt="avatar">
                        </div>
                    </a>
                    <div class="media-body">{{subString (htmlDelete wiki.contents) 0 300 }}
                        <div class="pull-right"><span class="badge">
                            11
                        </span></div>
                    </div>
                    <div class="pull-left"><span class="nickname">위키오너 : {{user.userNick}}</span></div>
                    <div class="pull-right">{{formatDate wiki.insertDate "yyyy.MM.dd HH:mm:SS"}}</div>
                </div>
            </div>
            {{/each}}
            <br>

            {{#if pageIdx}}
            <div class="text-center">
                <ul class="pagination">
                    {{#ifIntCont page ">=" 6 }}
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{/ifIntCont}}
                    {{#each pageIdx}}
                        <li><a href="#">{{this}}</a></li>
                    {{/each}}
                    {{#ifIntCont pages "<" allPage }}
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {{/ifIntCont}}
                </ul>
            </div>
            {{/if}}

            <!--// 전체 공간 -->
        </div>
    </div>
    <!--// contents -->
    <input type="hidden" id="page" value="{{page}}" />
{{/partial}}

{{#partial "script-page"}}
    {{embedded "common/_keywordList"}}
    <script type="text/javascript">
        $(document).ready(function() {
            Wiki.renderKeywordList('{{selectKeywordName}}');



        });
        var Wiki = {
            renderKeywordList : function(keywordName){
                $.ajax({
                    url: "/common/findKeywordList",
                    type: "POST",
                    data: { keywordType : 'WIKI', keywordName : Wiki.selectedKeyword(keywordName) },
                    success : function(data){
                        if(data.resultCode == 1) {
                            var source = $('#common-_keywordList-hbs').html();
                            var template = Handlebars.compile(source);

                            var html = template(data);
                            $('#categorizeKeywordListArea').html(html);
                            Wiki.bindKeywordListEvent();
                        }
                    },
                    error : function(req){
                        // Handle upload error
                        alert('req : ' + req);
                        console.log('req : ' + req.status);
                        console.log('req : ' + req.readyState);

                        alert('에러가 발생하였습니다. 에러코드 [' + req.status + ']');
                    }
                });
            },
            selectedKeyword : function(keywordName){
                if(!keywordName){
                    keywordName = '';
                }
                return keywordName;
            },
            bindKeywordListEvent : function(){
                $('#categorizeKeywordListArea').find('li').click(function(){
                    Wiki.renderKeywordList(this.getAttribute('value'));
                });
            }
        }
    </script>
{{/partial}}

{{> template/base}}
