
{{#partial "title"}}LibQA~{{/partial}}

{{# partial "content" }}
<div class="container-fluid">
    <div class="col-sm-12">
        <section id="forms">

            <div class="page-header">
                <h2>위키 생성하기</h2>
            </div>

            <div class="modal-body well">
                <form role="form" id="wikiForm">
                    <input name="parentsId" value="{{parentsId}}" type="hidden" />
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="space_title" class="col-sm-1 control-label">공간제목</label>
                            <div class="col-sm-11">
                                {{#if space.spaceId}}
                                    <input type="text" class="form-control" id="space_title" placeholder="{{space.title}}">
                                    <input type="hidden" id="spaceId" name="spaceId" value="{{space.spaceId}}">
                                {{else}}
                                    <select class="form-control" id="spaceId" name="spaceId">
                                        {{#each spaceList}}
                                        <option value="{{spaceId}}">{{title}}</option>
                                        {{/each}}
                                    </select>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-1 control-label">위키제목</label>
                            <div class="col-sm-11">
                                <input type="text" value="{{wiki.title}}" class="form-control" id="title" name="title" placeholder="">
                            </div>
                        </div>

                    </div>
                    <hr style="background-color:#ccc; height: 1px; margin-top:0px; margin-bottom: 10px;">
                    <!-- 에디터 -->
                    <div class="form-group">
                        <input type="hidden" name="contents" id="contents" />
                        <input type="hidden" name="contentsMarkup" id="contentsMarkup" value="{{wiki.contentsMarkup}}" />
                        <div id="editor" class="form-group"></div>
                    </div>
                    <!--// 에디터 -->

                    <div class="form-inline" id="tag-info">
                        <label for="keyword" class="sr-only">키워드</label>
                        <input type="text" class="form-control" size="29" id="interesting" placeholder="키워드를 입력하세요. (최대 3개)">
                        <button class="btn btn-primary" type="button" id="keywordAdd">Add <i class="glyphicon glyphicon-plus"></i></button>
                        <ul id="tag-cloud" style="padding-left: 0px; width:100%;"></ul>
                        <input type="hidden" name="keywords" id="keywords" />
                    </div>
                    <div class="form-group">
                        <div id="uploadFilesArea">
                            <span class="glyphicon glyphicon-paperclip btn-m"></span>
                            <span>Attachments</span>
                            <div id="uploadfileList" class="alert alert-success attachment-thumbnail">
                            </div>
                        </div>
                        <input name="uploadType" value="Qa" type="hidden">
                        <input name="uploadFilePath" id="uploadFilePath" type="hidden">
                        <input id="viewType" name="viewType" value="Image" type="hidden" />
                        <input id="file-attachment" name="uploadfile" type="file" style="display:none">
                        <p class="help-block"></p>
                        <button class="btn btn-info btn-default" type="button" onclick="$('#file-attachment').click();">파일선택</button>

                    </div>
                    <input type="hidden" name="wikiId" value="{{wiki.wikiId}}"/>
                </form>
            </div>
            <div class="form-actions text-center">
                <button type="button" class="btn btn-primary" id="saveWiki">저장</button>
                <button type="button" class="btn" id="cancel">취소</button>

            </div>
        </section>
    </div>
</div>
{{/partial}}


{{# partial "style" }}
    <link href="/resource/app/js/DualEditor/css/DualEditor.css" rel="stylesheet">
{{/partial}}

{{#partial "plugin-style"}}
{{!-- 여기에 .css 파일 경로 --}}
    <link href="/resource/public/css/bootstrap-tag-cloud/bootstrap-tag-cloud.css" rel="stylesheet">
{{/partial}}
{{#partial "script-header"}}
    <script src="/resource/app/js/DualEditor/DualEditor-core.js"></script>
    <script type='text/javascript' src="/resource/public/js/bootstrap-tag-cloud/bootstrap-tag-cloud.js"></script>
{{/partial}}


{{# partial "script-page" }}
    <script type="text/javascript">
        $(document).ready(function() {
            DualEditor.setting({
                src : '/resource/app'
                ,tarketId : 'editor'
                //,type : 'mini'
                ,width : '100%'
                //,height : '300px'
                ,data : $("input[name=contentsMarkup]").val()
            });
            $("#file-attachment").on("change", Wiki.uploadFile);
        });

        $("#saveWiki").on("click", function(e){
            $.confirm({
                title: '저장',
                content: '이 위키를 저장하시겠습니까?',
                confirmButton: '저장',
                confirmButtonClass: 'btn-info',
                icon: 'fa fa-question-circle',
                animation: 'top',
                confirm: function () {
                    if( location.href.indexOf("update") > 0 ){
                        Wiki.update();
                    }else{
                        Wiki.save();
                    }
                }
            });
        });
        $("#cancel").on("click", function(e){
            history.go(-1);
        });

        var Wiki = {

            save:function(){
                $("#keywords").val(keywordData);
                $("#contents").val(DualEditor.getMarkupConvertToHtml());
                $("#contentsMarkup").val(DualEditor.getMarkupEditHtml());
                var data = $("#wikiForm").serialize();
                jQuery.ajax({
                    type:'POST',
                    data:data,
                    url:'/wiki/save',
                    success:function(req){
                        if (req.resultCode == 1) {
                            $.alert({
                                title: '확인',
                                content: '위키를 저장했습니다.',
                                confirmButton: '확인',
                                confirmButtonClass: 'btn-primary',
                                icon: 'fa fa-info',
                                animation: 'zoom',
                                confirm: function () {
                                    $(location).attr('href', "/wiki/"+req.data.wikiId);
                                }
                            });
                        }
                    },
                    error:function(req){
                        if (req.status == 500) {
                            error500(true, '');
                        } else {
                            error500(false, req.status);
                        }
                    }});
                return false;
            },
            update:function(){
                $("#keywords").val(keywordData);
                $("#contents").val(DualEditor.getMarkupConvertToHtml());
                $("#contentsMarkup").val(DualEditor.getMarkupEditHtml());
                var data = $("#wikiForm").serialize();
                jQuery.ajax({
                    type:'POST',
                    data:data,
                    url:'/wiki/update',
                    success:function(req){
                        if (req.resultCode == 1) {
                            $.alert({
                                title: '확인',
                                content: '위키를 저장했습니다.',
                                confirmButton: '확인',
                                confirmButtonClass: 'btn-primary',
                                icon: 'fa fa-info',
                                animation: 'zoom',
                                confirm: function () {
                                    $(location).attr('href', "/wiki/"+req.data.wikiId);
                                }
                            });

                        }
                    },
                    error:function(req){
                        if (req.status == 500) {
                            error500(true, '');
                        } else {
                            error500(false, req.status);
                        }
                    }});
                return false;
            },
            uploadFile : function(){
                var field = $("#file-attachment").val();
                if (field != '') {
                    $.ajax({
                        url: "/common/uploadFile",
                        type: "POST",
                        data: new FormData($("#wikiForm")[0]),
                        enctype: 'multipart/form-data',
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (req) {
                            console.log('req : ' + req);
                            console.log('req.data.uploadType : ' + req.data.uploadType);
                            if (req.resultCode == 1) {
                                var idx = $('#realName').size();
                                var fileDivTemplat = '<div class="fileDiv" style="padding: 5px;">' +
                                        '<input name="wikiFiles['+idx+'].realName"  id="realName" type="hidden" value="'+req.data.realName+'">' +
                                        '<input name="wikiFiles['+idx+'].savedName" id="savedName" type="hidden" value="'+req.data.savedName+'">' +
                                        '<input name="wikiFiles['+idx+'].filePath"  id="filePath" type="hidden" value="'+req.data.filePath+'">' +
                                        '<input name="wikiFiles['+idx+'].fileSize"  id="fileSize" type="hidden" value="'+req.data.fileSize+'">' +
                                        '<input name="wikiFiles['+idx+'].fileType"  id="fileType" type="hidden" value="'+req.data.fileExtendType+'">' +
                                        '<a href="'+req.data.filePath+'/'+req.data.savedName+'">'+req.data.realName+'</a>' +
                                        '<a href="#fileDiv" onclick="$(this).parent().remove();">' +
                                        '<span class="glyphicon glyphicon-remove" style="margin-left:15px;"></span>' +
                                        '</a>' +
                                        '</div>';
                                $('#uploadfileList').append(fileDivTemplat);
                            }
                        },
                        error: function (req) {
                            // Handle upload error
                            alert('req : ' + req);
                            console.log('req : ' + req.status);
                            console.log('req : ' + req.readyState);

                            if (req.status == 500) {
                                alert('업로드 중 에러가 발생했습니다. 파일 용량이 허용범위를 초과 했거나 올바르지 않은 파일 입니다.');
                            } else {
                                alert('에러가 발생하였습니다. 에러코드 [' + req.status + ']');
                            }
                        }
                    });
                }
            }
        };

        function error500(condition, status) {
            if (condition) {
                $.alert({
                    title: '확인',
                    content: '공간 정보 저장중 에러가 발생했습니다.',
                    confirmButton: 'OK',
                    confirmButtonClass: 'btn-primary',
                    icon: 'fa fa-info',
                    animation: 'zoom',
                    confirm: function () {
                    }
                });
            } else {
                $.alert({
                    title: '확인',
                    content: '공간 정보 저장중 에러가 발생했습니다. 에러코드 [' + status + ']',
                    confirmButton: 'OK',
                    confirmButtonClass: 'btn-primary',
                    icon: 'fa fa-info',
                    animation: 'zoom',
                    confirm: function () {
                    }
                });
            }
        }

        var keywordData = [];

        /**
         * 키워드 추가
         * 키워드가 3건 이상 등록 될 경우 폼을 disabled 한다.
         * 대소문자 중복 허용하지 않는다.
         */
        $('#keywordAdd').click(function () {
            var keyword = $('#interesting').val();

            if (keywordData.length == 3) {
                alert('키워드는 최대 3건만 등록할 수 있습니다.');
                return;
            }

            keywordData.push(keyword);

            var taskArray = [];
            $("input[name=keywords]").each(function () {
                taskArray.push(keyword);
            });


            if (keywordData.length > 2) {
                $("#interesting").attr("readonly", true);
                $("#keywordAdd").attr("disabled", true);
            }
        });

        /**
         * 키워드 삭제
         * 키워드가 삭제되면 폼을 enabled 한다.
         */
        $('#tag-cloud').on('click', 'li', function (event) {
            var keyword = $(event.target).text();
            var index = keywordData.indexOf(keyword);

            if (index > -1) {
                keywordData.splice(index, 1);
                $('input[name=keywords]').val(keywordData);
                $("#interesting").attr("readonly", false);
                $("#keywordAdd").attr("disabled", false);
            }
        });

    </script>
{{/partial}}

{{> template/base}}