{{#each data}}
<li class="thread" data-feed-id="{{feedId}}">
    <div class="author">
        <div class="user-profile">
            <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
        </div>
    </div>
    <div class="name">{{userNick}}</div>
    <div class="date">{{insertDate}}</div>
    <div class="config"><i class="fa fa-check popover-config" data-container="body" data-toggle="popover" data-placement="right"></i></div>

    <div class="thread-message-box">
        <div class="message">
            {{nl2br feedContent}}
            <div class="images text-center">
                {{#images}}
                    <a href="{{filePath}}/{{savedName}}" target="_blank"><img width="190" class="img-thumbnail" src="{{filePath}}/{{savedName}}" /></a>
                {{/images}}
            </div>
            <div class="attachment">
                {{#files}}
                    <a href="{{filePath}}/{{savedName}}" target="_blank"><i class="fa fa-file-o"></i> {{realName}}</a>&nbsp;
                {{/files}}
            </div>
        </div>
        <div class="action-buttons">
            <i class="fa fa-thumbs-o-up {{#if likeFeedAction.hasViewer}}hasViewer{{/if}}" onclick="Feed.like(this)">
                <span class="like-count">({{likeFeedAction.count}})</span>
            </i>
            <i class="fa fa-bullhorn {{#if claimFeedAction.hasViewer}}hasViewer{{/if}}" onclick="Feed.claim(this)">
                <span class="claim-count">({{claimFeedAction.count}})</span>
            </i>
        </div>
    </div>

    <ul>
        {{#replies}}
        <li class="reply-thread" data-feed-reply-id="{{feedReplyId}}">
            <div class="author">
                <div class="user-profile-sm">
                    <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                </div>
            </div>
            <div class="name">{{userNick}}</div>
            <div class="date">{{insertDate}}</div>
            <div class="config"><i class="fa fa-close feedReplyDeleteBtn"></i></div>
            <div class="message-box">
                <div class="message">{{feedReplyContent}}</div>
                <div class="action-buttons">
                    <i class="fa fa-thumbs-o-up {{#if likeFeedAction.hasViewer}}hasViewer{{/if}}" onclick="FeedReply.like(this)">
                        <span class="like-count">({{likeFeedAction.count}})</span>
                    </i>
                    <i class="fa fa-bullhorn {{#if claimFeedAction.hasViewer}}hasViewer{{/if}}" onclick="FeedReply.claim(this)">
                        <span class="claim-count">({{claimFeedAction.count}})</span>
                    </i>
                </div>
            </div>
        </li>
        {{/replies}}
    </ul>

    <ul>
        <li>
            <div class="row">
                <form name="feedReplyForm" onsubmit="return false;">
                    <input type="hidden" name="feed.feedId" value="{{feedId}}" />

                    <div class="col-xs-9 col-md-10">
                        <input type="text" name="feedReplyContent" class="form-control input-sm" placeholder="댓글 입력">
                    </div>
                    <div class="col-xs-3 col-md-2 feed-comment">
                        <button class="btn btn-sm btn-info" name="saveReply" type="button">저장</button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</li>
{{/each}}

<script type="text/javascript">
$(function(){
    FeedUtil.bindPopOver();
    FeedReply.init();
});
</script>
