{{#each data}}
<li class="thread" data-feed-id="{{feedId}}">
    <div class="author">
        <div class="user-profile">
            <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
        </div>
    </div>
    <div class="name">{{userNick}}</div>
    <div class="date">{{insertDate}}</div>
    <div class="config"><i class="fa fa-check popover-config" data-container="body" data-toggle="popover" data-placement="right"></i></div>

    <div class="thread-message-box">
        <div class="message">
            {{nl2br feedContent}}
            <div class="images text-center">
                {{#images}}
                    <img width="190" class="img-thumbnail" src="{{filePath}}/{{savedName}}" />
                {{/images}}
            </div>
            <div class="attachment">
                {{#files}}
                    <a href="{{filePath}}/{{savedName}}" target="_blank"><i class="fa fa-file-o"></i> {{realName}}</a>&nbsp;
                {{/files}}
            </div>
        </div>
        <div class="action-buttons">
            <i class="fa fa-thumbs-o-up"><span class="like-count">({{likeCount}})</span></i>
            <i class="fa fa-bullhorn"><span class="claim-count">(0)</span></i>
        </div>
    </div>

    <ul>
        {{#replies}}
        <li>
            <div class="author">
                <div class="user-profile-sm">
                    <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                </div>
            </div>
            <div class="name">{{userNick}}</div>
            <div class="date">{{insertDate}}</div>
            <div class="config"><i class="fa fa-close feedReplyDeleteBtn" data-feed-reply-id="{{feedReplyId}}"></i></div>
            <div class="message-box">
                <div class="message">{{feedReplyContent}}</div>
                <div class="action-buttons">
                    <i class="fa fa-thumbs-o-up"><span class="like-count">(30)</span></i>
                    <i class="fa fa-bullhorn"><span class="claim-count">(0)</span></i>
                </div>
            </div>
        </li>
        {{/replies}}
    </ul>

    <ul>
        <li>
            <div class="row">
                <form name="feedReplyForm" onsubmit="return false;">
                    <input type="hidden" name="feed.feedId" value="{{feedId}}" />

                    <div class="col-xs-9 col-md-10">
                        <input type="text" name="feedReplyContent" class="form-control input-sm" placeholder="댓글 입력">
                    </div>
                    <div class="col-xs-3 col-md-2 feed-comment">
                        <button class="btn btn-sm btn-info" name="saveReply" type="button">저장</button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</li>
{{/each}}

<script type="text/javascript">
$(function(){
    $('.popover-config').popover({
        trigger: 'click',
        html: true,
        content: function () {
            return $('#popover-config-content').html();
        }
    });

    $('.popover-feed-image').popover({
        trigger: 'click',
        html: true,
        content: function () {
            return $('#popover-feed-image-content').html();
        }
    });

    var FeedReply = {
        init: function(){
            this.bindSave();
            this.bindDelete();
        },
        bindSave: function() {
            $('button[name=saveReply]').click(function () {
                var data = $(this).closest('form').serialize();
                $.post('/feed/reply/save', data)
                    .done(function (response) {
                        if (response.resultCode != 1) {
                            alert(response.comment);
                            return;
                        }
                        Feed.searchList();
                    }).fail(function () {
                        alert('Error saving feed Reply');
                    });
            });
        },
        bindDelete: function() {
            $('.feedReplyDeleteBtn').click(function () {
                if (!confirm("댓글을 삭제하시겠습니까?")) {
                    return;
                }

                var feedReplyId = $(this).attr('data-feed-reply-id');
                $.post('/feed/reply/' + feedReplyId + '/delete')
                    .done(function (response) {
                        if (response.resultCode != 1) {
                            alert(response.comment);
                            return;
                        }
                        Feed.searchList();
                    }).fail(function () {
                        alert('Error delete feed Reply');
                    });
            });
        }
    };

    FeedReply.init();
});
</script>
